<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Жбанк_app.Properties.Settings.JbankAppConnectionString"
            connectionString="Host=localhost;Database=JbankApp;Username=postgres;Password=lovi5555;Persist Security Info=True;Port=1488"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>